/* principal */
body{ font-family:Arial, Helvetica, sans-serif }
a{ text-decoration: none; color: #FFF; }
table{ width: 100%; border-collapse: collapse; }
img {vertical-align: middle}

#tudo{ border:#f0f0f0 1px solid; }
.divCenter{ width:980px; margin:0 auto; }
.cabecalho{ background-color: #df0017; color: #FFF; }
.url{ background-color: #000; color: #fff; padding: 6px 0; }
.titulo{ text-align:center; background-color:#f0f0f0; padding: 10px; }

/* posicionamento */
.left{ text-align: left }
.right{ text-align: right }
.center{text-align: center }

/* campos */
input[type=text]{
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 5px;
    width: 80%;
}
select{
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 4px;
    width: 80%;
}

/* botoes */
input[type=submit], input[type=reset], input[type=button]{
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}

span.dica{
    font-style: italic;
    font-size: 11px;
}

span#NRdaLinha{
    display: inline-block;
    background-color: #F1F2F3;
    border: 1px solid #CCC;
    border-radius: 12px;
    padding: 0 5px;
    margin-right: 5px;
}

/* total geral */
#totalGeral{
    font-size: 28px;
}
.totalGeral{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

/* mensagem */
#processando{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #FFF;
    background-color: #000;
    display: none;
}
